    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About me</h2>
              <br/>
                <img src="../img/profile.jpg" alt="Profile" class="img-circle profile-image">
                <div class="about-content">
                  <p class="lead">Android software engineer with years of working experience.</p>
                  <p>Worked on a wide-range of projects over the years, from working as an <strong>independent engineer</strong> on smaller projects to <strong>managing and leading a team of engineers</strong> on complex corporate feature-rich software development projects.</p>
                  <p>Full-cycle development, from the concept and project specifications to final production-ready code and support.</p>
                  <ul class="list-inline">
                    <li><u>RxJava</u></li>
                    <li><u>MVP</u></li>
                    <li><u>TDD</u></li>
                    <li><u>CI</u></li>
                  </ul>
                  <ul class="list-inline">
                    <li><u>leading a team of developers</u></li>
                    <li><u>project planning</u></li>
                    <li><u>team coordination</u></li>
                    <li><u>providing mentorship to coworkers</u></li>
                  </ul>
                  <br/>
                </div>
              </div>
        </div>
    </section>
